<div class="tirakan-chat-card">
  <h3>{{actor.name}}: {{#if spell}}{{spell.name}}{{else}}{{attributeLabel}}{{/if}}</h3>
  {{#if spell}}<p>{{spell.level}}</p>{{/if}}
  {{#if skillName}}<p>{{localize "TIRAKAN.Roll.Skill"}}: {{skillName}} ({{skillRank}})</p>{{/if}}
  <p>{{localize "TIRAKAN.Roll.Target"}}: {{target}} | {{localize "TIRAKAN.Roll.Modifier"}}: {{modifier}}</p>
  <p><strong>{{resultText}}</strong> ({{localize "TIRAKAN.Roll.Margin"}} {{result.margin}})</p>
  {{#if spell}}
    <p>{{localize "TIRAKAN.Magic.ArkanaCost"}}: {{spell.arkanaDisplay}} | {{localize "TIRAKAN.Magic.BaseStrength"}}: {{spell.strength}}</p>
    <p>{{spellEffect.label}} {{localize "TIRAKAN.Magic.FinalStrength"}}: {{spellEffect.finalStrength}}</p>
    {{#if spell.description}}<p>{{spell.description}}</p>{{/if}}
  {{/if}}
  <p>{{localize "TIRAKAN.Roll.Consequence"}}: {{consequenceLabel}}</p>
  {{#if flavor}}<p>{{flavor}}</p>{{/if}}
</div>
